# Data processing & Spark
pandas==2.0.3
pyarrow==16.1.0
pyspark==3.5.1

# Deep learning & GPU
tensorflow==2.18.0
tensorflow-addons

# Image handling
pillow

# Notebook environment
jupyter
jupyterlab

# HTTP/HTML client
requests
beautifulsoup4